.questions{
    background-color: $off-white;
    border-left: 7px solid $blue;
    width: 80%;
    margin: $lg auto 0 auto;
    padding: $sm $md

}

.lifeline-container{
    display: flex;
    justify-content: space-between;

}
.lifeline{
    position: relative;
    top:-3px;
}

h2{
    text-align: center;
    font-weight: lighter;
}
.timer-container{
    margin-bottom: 20px;
}

h5{
    font-size:1.2rem;
    margin-bottom: $lg;
    line-height: 1.5;
    text-align: center;

}
.options-container{
    display: inline-block;
    width: 50%;

}

.options{
    background-color: $blue;
    border-radius: $button-radius;
    color: white;
    cursor: pointer;
    margin: $md auto;
    padding: $normal;
    transition: 0.3% linear all;
    text-align: center;
    width: 90%;
}

.option:hover {
    background-color: darken($color: $blue, $amount: 20%);
}

.button-container{
    display: flex;
   
    margin: 0 auto $sm auto;
    padding: $md;
    width: 80%;
}
.button-container button{
    border: none;
    color: $off-white;
    cursor: pointer;
    font-family: $quicksand;
    margin-right: $md;
    padding:$xs $sm;

}
.button-container button:nth-child(2){
    background-color: darken($color: $green, $amount: 10%);
    box-shadow: $shadow;
    transition: 0.2s linear all;
}
.button-container button:nth-child(2):hover {
    background-color: darken($color: $green, $amount: 20%);
}

.button-container button:last-child{
    background-color: darken($color: red, $amount: 10%);
    box-shadow: $shadow;
    transition: 0.2s linear all;
}
.button-container button:last-child:hover {
    background-color: darken($color: red, $amount: 20%);
}
.button-container button:first-child{
    background-color: darken($color:$blue, $amount: 10%);
    box-shadow: $shadow;
    transition: 0.2s linear all;
}
.button-container button:first-child:hover {
    background-color: darken($color:$blue, $amount: 20%);
}
